.navbarContainer {
  height: 4rem;
  display: grid;
  grid-template-areas: 'brand links';
  grid-template-columns: 1fr 4fr;
  align-items: center;
  background-color: var(--background);
}

.navbarContainer > span {
  grid-area: brand;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.25rem;
  color: var(--white);
  font-weight: 600;

  cursor: pointer;
}

.linksContainer {
  grid-area: links;
}

.linksContainer > li {
  display: inline;
  margin-right: 1rem;
}

.linksContainer > li:last-of-type {
  margin-right: 0;
}

.linksContainer > li a {
  color: var(--text);
  font-size: 1rem;
  transition: color 0.2s;
}

.linksContainer > li a:hover {
  color: var(--gray-line);
}
