.navbarContainer {
  height: 4rem;
  display: grid;
  grid-template-areas: 'brand links login';
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  background-color: var(--background);
}

.navbarContainer > span {
  grid-area: brand;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.25rem;
  color: var(--white);
  font-weight: 600;
}

.navbarContainer ul {
  grid-area: links;
}

.navbarContainer ul li {
  display: inline;
  margin-right: 1rem;
}

.navbarContainer ul li:last-of-type {
  margin-right: 0;
}

.navbarContainer ul li a {
  color: var(--text);
  font-size: 1rem;
  transition: color 0.2s;
}

.navbarContainer ul li a:hover {
  color: var(--gray-line);
}

.navbarContainer > div {
  grid-area: login;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarContainer > div button {
  color: var(--white);
  border-radius: 5px;
  background: var(--blurple);
  border: 0;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  outline: 0;
  transition: background 0.2s, filter 0.2s;
}

.navbarContainer > div button:hover {
  /* TODO: Change to pointer whenever the auth system is made */
  cursor: not-allowed;
  filter: brightness(1.5);
}
