.container {
  width: 16rem;
  margin: 1rem 1rem 0 1rem;
}

.container span {
  margin: 0.25rem 0;
}

.container div {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.container div span {
  color: var(--discord-role);
  font-size: 0.75rem;
  border: 1px solid var(--discord-role);
  border-radius: 20px;
  padding: 0.25rem;
  margin-right: 0.5rem;
}

.container div span:last-of-type {
  margin-right: 0;
}
