# Packages
node_modules

# Log files
*.log
yarn-error.log*

# Env
*.env*

# Miscellaneous
.idea
.next
.vercel
.eslintcache
schema.gql

# Yarn v2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
