# Packages
node_modules

# Log files
*.log
yarn-error.log*

# Env
*.env*
!.env.*.example

# Miscellaneous
.idea
.next
.vercel
.eslintcache
*:Zone.Identifier

# Yarn v3
.yarn/*
!.yarn/releases
!.yarn/plugins
