# Packages
node_modules

# Log files
*.log
yarn-error.log*

# Env
*.env*

# Miscellaneous
.idea
.next
.vercel
.eslintcache

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
