.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.container header {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  margin: 2rem;
}

.container header img {
  display: flex;
  width: 64px;
  height: auto;
  border-radius: 25%;
  margin: 1rem;
}

.container header span {
  font-size: 1rem;
  color: var(--white);
}

.saveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #276749;
  padding: 0.5rem 1rem;
  margin: -1rem 0 2rem 4rem;
  outline: 0;
  border: 0;
  border-radius: 5px;
  color: var(--white);
  width: 5rem;
  transition: background 0.1s;
}

.saveButton:hover {
  background: #2f855a;
}

.saveButton[disabled] {
  cursor: not-allowed;
}

.saveButton[disabled]:hover {
  background: #276749 !important;
}

.mainContent {
  display: flex;
  flex-direction: row;
  margin: 0 2rem;
}

.asideOptionsContainer {
  display: flex;
  padding: 1rem;
  background: var(--lighter-background);
  margin: 0 2rem 2rem 2rem;
  flex-direction: column;
  border-radius: 15px;
}

.childrenContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 3rem;
}

.childrenContainer > label {
  color: var(--text);
}

.childrenContainer > label {
  margin-top: 1.5rem;
}

.childrenContainer > label:first-of-type {
  margin-top: 0;
}

.childrenContainer > input {
  background: var(--lighter-background);
  color: var(--white);
  border-radius: 10px;
  height: 2.5rem;
  border: 0;
  outline: 0;
  padding: 0.5rem;
}

/* Checkbox container */
.childrenContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.childrenContainer > div {
  margin-top: 1.5rem;
}

.childrenContainer > div:first-child {
  margin-top: 0;
}

.childrenContainer > div label {
  margin-right: 1rem;
}
