@layer theme, base, components, utilities;

@import "tailwindcss";
@import "@heroui/styles";
@import "./animations.css";
@import "./theme.css" layer(theme);
@import "./scrollbar.css";

@plugin "@tailwindcss/typography";

/* This plugin adds some sort of small border/outline around the cursor (not the input) whenever an input is focused */
/* @plugin "@tailwindcss/forms"; */

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@theme {
	--breakpoint-xs: 30rem;
	--shadow-dim-inner: 0px 0px 10px 0px #00000080 inset;

	--color-background: #171717;
	--color-white: #e2e2e2;
	--color-blurple: #5865f2;
	--color-primary: #ff7077;

	--color-darker: #1e1f22;

	--color-light-gray: #474747;
	--color-dark-gray: #232323;

	--color-red: #df4444;
	--color-yellow: #fbb748;
	--color-green: #3ea25e;

	--color-brand: #ff7077;

	--radius-2\.5xl: 1.25rem;

	--drop-shadow-regular: 1.5px 1.5px 0px rgba(0, 33, 66, 0.95);

	--lurkr-gradient: 92.52deg, #ff7077 0%, #ffe87c 100%;
	--lurkr-gradient-alt: 93deg, #ffe87c 0%, #804994 100%;
	--lurkr-max-gradient: 90deg, #aad6c6 1%, #fa9079 33%, #fcc953 66%, #74da9c 100%;
	--lurkr-ultimate-gradient: 90deg, #a2fbec 1%, #f985ff 33%, #904dff 66%, #4d54fe 100%;
	--patreon-gradient: 93.24deg, #ff424d 0%, #ff7077 100%;
}

.text-shadow-regular {
	text-shadow: 1.5px 1.5px 0px rgba(0, 33, 66, 0.95);
}

/* The tailwind-scrollbar plugin doesn't work */
.slider-thumb\:size-4::-webkit-slider-thumb {
	width: 1rem;
	height: 1rem;
}
.slider-thumb\:appearance-none::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
}
.slider-thumb\:rounded-full::-webkit-slider-thumb {
	border-radius: 9999px;
}
.slider-thumb\:border-none::-webkit-slider-thumb {
	border-style: none;
}
.slider-thumb\:bg-primary::-webkit-slider-thumb {
	--tw-bg-opacity: 1;
	background-color: rgb(255 112 119 / var(--tw-bg-opacity, 1));
}

body {
	text-rendering: optimizeLegibility;
}

img {
	@apply select-none;
}

*::placeholder {
	@apply text-white/50!;
}

button:not([disabled]) {
	@apply cursor-pointer;
}

button[disabled] {
	@apply cursor-not-allowed;
}

.no-drag {
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

.prose-blue-400 {
	--tw-prose-links: rgba(96 165 250);
	--tw-prose-invert-links: rgba(96 165 250);
}

/* react-fast-marquee */
.rfm-child {
	@apply mr-4;
}

/* react-medium-image-zoom */
div[data-rmiz-modal-content] {
	@apply bg-darker;
}

@layer components {
	/* hero ui: The accordion content bleeds out of the collapsable title */
	.accordion__panel {
		@apply px-4;
	}
}

@utility bg-gradient-lurkr {
	background-image: linear-gradient(to right, #ff7077, #ffe87c);
}

@utility bg-gradient-lurkr-max {
	background-image: linear-gradient(to right, #aad6c6, #fa9079, #74da9c);
}

@utility bg-gradient-lurkr-ultimate {
	background-image: linear-gradient(to right, #a2fbec, #f985ff, #4d54fe);
}

@utility text-gradient-lurkr-max {
	color: transparent;
	background-image: linear-gradient(to right, #aad6c6, #fa9079, #74da9c);
	-webkit-background-clip: text;
	background-clip: text;
}

@utility text-gradient-lurkr-ultimate {
	color: transparent;
	background-image: linear-gradient(to right, #a2fbec, #f985ff, #4d54fe);
	-webkit-background-clip: text;
	background-clip: text;
}
