.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem 2rem;
  background: var(--gray);
  color: var(--white);
  margin: 0.5rem 0;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.container svg {
  fill: #e2e2e2;
  margin-right: 0.25rem;
  transition: fill 0.2s;
}

.container:hover {
  background: var(--background);
  color: var(--white);
}

.container:hover svg {
  fill: #e2e2e2;
}

.selected {
  background: #f2f2f2;
  color: black;
}

.selected svg {
  fill: #1d1d1d;
}
