.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.container header {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  margin: 2rem;
}

.container header img {
  display: flex;
  width: 96px;
  height: auto;
  border-radius: 25%;
  margin: 1rem;
}

.container header span {
  font-size: 2rem;
  color: var(--white);
}

.container main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.container div.leaderboardContainer {
  background: var(--lighter-background);
  margin: 0 2rem 2rem 2rem;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
}

.container div.leaderboardContainer hr {
  border: 0;
  border-top: 2px solid #bbb;
  border-radius: 5px;
  margin: 0 auto;
  width: 98%;
}

.container div.xpRolesContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  background: var(--lighter-background);
  margin: 0 2rem 2rem 0;
  flex-direction: column;
  border-radius: 15px;
}
