@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @apply's don't work in production for some reason */
h1,
h2,
h3,
h4,
h5,
h6 {
	/* @apply text-white font-display font-bold; */
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 700;
}

h1 {
	/* @apply text-2xl; */
	font-size: 1.5rem /* 24px */;
	line-height: 2rem /* 32px */;
}

h2 {
	/* @apply text-lg; */
	font-size: 1.125rem /* 18px */;
	line-height: 1.75rem /* 28px */;
}

/* @screen sm {
  h1 {
    @apply text-4xl;
  }
} */

/* @screen sm {
  h2 {
    @apply text-xl;
  }
} */

@media (min-width: 640px) {
	h1 {
		/* @apply text-4xl; */
		font-size: 2.25rem /* 36px */;
		line-height: 2.5rem /* 40px */;
	}

	h2 {
		/* @apply text-xl; */
		font-size: 1.25rem /* 20px */;
		line-height: 1.75rem /* 28px */;
	}
}

.role-x {
	display: none;
	font-size: 0.7rem;
	line-height: 0.7rem;
	color: black;
	position: absolute;
	margin-left: 5px;
}

.role-bullet:hover .role-x {
	display: block;
}

@import url("./Toggle.css");

::selection {
	background: #add8e6;
}

::-moz-selection {
	background: #add8e6;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #202327;
}

::-webkit-scrollbar-thumb {
	background: #56595e;
	border-radius: 10px;
}
