* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--white);
}

html, body, #root {
  max-height: 100vh;
}

*, button, input {
  border: 0;
  background: none;
  font-family: 'Noto Sans KR', Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
}

html {
  background: var(--background)
}

br {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  user-select: none; /* Standard */
}

:root {
  --background: #2F3336;
  --primary: #000;
  --secondary: #15181C;
  --search: #202327;
  --white: #D9D9D9;
  --grey: #7A7A7A;
  --gray: #8a8c90;
  --chat-input: rgb(64, 68, 75);
}
