.container {
  background: var(--background);
}

.wrapper {
  height: 100%;
  max-width: 601px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

.wrapper span {
  font-size: 30px;
}

.nav {
  height: 50px;
  width: 100%;
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: left;

  font-size: 20px;
}

.nav img {
  width: 50px;
  height: auto;

  border-radius: 25%;

  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */

  -webkit-user-drag: none;
}

.nav span {
  font-size: 20px;
  padding-left: 5px;
}

.grid-section {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  padding-bottom: 15px;
}
