.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #23272a;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.div-container {
  width: 280px;
  height: 50px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.div-container img {
  width: 50px;
  height: auto;
  padding-left: 2px;
  padding-top: 2px;
  border-radius: 25%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.div-container p {
  font-size: 20px;
  padding-left: 4px;
}

.guild-icon {
  display: flex;
}

.guild-join-button {
  background-color: #43b581;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 5px;
  transition: all 500ms;
  content: 10px;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  padding-bottom: 2px;
  padding-left: 2px;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  outline: 0;
}

.guild-join-button:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
  background-color: #3ca374;
}

.guild-memberCount {
  font-size: 13px;
  font-weight: 400;
  color: gray;
}

.join-icon {
  color: #fff;
  padding-left: 3px;
}
