.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4rem);
}

.container button {
  padding: 1rem;
  background: var(--gray);
  color: var(--white);
  border: 0;
  outline: 0;
  border-radius: 15px;
  transition: box-shadow 0.1s, filter 0.1s;
}

.container button:hover {
  filter: brightness(1.5);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
}
