@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply scrollbar-thin scrollbar-track-[rgba(10,10,10,25%)] scrollbar-thumb-light-gray scrollbar-thumb-rounded-xl;
	scrollbar-gutter: stable;
}

body {
	text-rendering: optimizeLegibility;
}

img {
	@apply select-none;
}

*::placeholder {
	@apply !text-white/50;
}

.no-drag {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.rfm-child {
	@apply mr-4;
}

.prose-blue-400 {
	--tw-prose-links: rgba(96 165 250);
	--tw-prose-invert-links: rgba(96 165 250);
}
