.navbarContainer {
  height: 4rem;
  display: grid;
  grid-template-areas: 'brand links login';
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  background-color: var(--background);

  > span {
    grid-area: brand;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.25rem;
    color: var(--white);
    font-weight: 600;

    cursor: pointer;
  }

  > div {
    grid-area: login;

    display: flex;
    align-items: center;
    justify-content: center;

    > button {
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--white);
      border-radius: 5px;
      border: 0;
      font-size: 1rem;
      padding: 0.3rem 1rem;
      outline: 0;
      transition: background 0.2s, filter 0.2s;

      > svg {
        position: relative;
        top: 2px;
        margin-right: 0.5rem;
      }

      > img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 0.5rem;
        border: 1px solid #bbb;
      }
    }
  }
}

.linksContainer {
  grid-area: links;

  > li {
    display: inline;
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }

    > a {
      color: var(--text);
      font-size: 1rem;
      transition: color 0.2s;

      &:hover {
        color: var(--gray-line);
      }
    }
  }
}

.signOutButton {
  background: var(--background);

  &:hover {
    background: #da3940;
  }
}

.signInButton {
  background: var(--blurple);

  &:hover {
    background: #5a6db0;
  }
}
