* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #202327;
  --lighter-background: #2f3136;
  --gray: #40444b;
  --gray-line: #dcdde0;
  --text: #666;
  --text-highlight: #b3b9ff;
  --title: #2e384d;
  --red: #e83f5b;
  --green: #4cd62b;
  --blue: #5965e0;
  --blue-dark: #4953b8;
  --blue-twitter: #2aa9e0;
  --black: #000;
  --blurple: #7289da;
  --discord-role: #b9bbbe;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--text);
}

body,
input,
textarea,
button {
  font: 400 1rem 'Noto Sans KR', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

hr {
  border: 0;
  border-top: 2px solid #bbb;
  border-radius: 5px;
  margin: 0 auto;
  width: 98%;
}

::selection {
  background: #388bfd;
}

::-moz-selection {
  background: #388bfd;
}
