@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');

::selection {
  background: #add8e6;
}
::-moz-selection {
  background: #add8e6;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #202327;
}

::-webkit-scrollbar-thumb {
  background: #56595e;
  border-radius: 10px;
}
