.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 5rem;
}

.guildContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  width: 8rem;
  height: 8rem;

  > img {
    width: 6rem;
    height: 6rem;
    border-radius: 15px;
  }

  > span {
    margin: 0 auto;
    text-align: center;
  }
}
