.verticalSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75rem;
}

.verticalSection label {
  color: var(--text);
  margin-bottom: 0.25rem;
}

.verticalSection input {
  background: var(--lighter-background);
  color: var(--white);
  border-radius: 10px;
  height: 2.5rem;
  border: 0;
  outline: 0;
  padding: 0.5rem;
}

.horizontalSection {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.75rem;
}

.horizontalSection label {
  color: var(--text);
  margin-right: 0.5rem;
}

.horizontalSection input {
  cursor: pointer;
}
