.horizontalSection {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.75rem;
}

.horizontalSection label {
  color: var(--text);
  margin-right: 0.5rem;
}

.horizontalSection input {
  cursor: pointer;
}

.xpMessageContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75rem;
}

.xpMessageContainer label {
  color: var(--text);
  margin-bottom: 0.25rem;
}

.xpMessageContainer input {
  display: flex;
  background: var(--lighter-background);
  color: var(--white);
  border-radius: 10px;
  height: calc(2.5rem * 3 + 0.25rem * 3);
  border: 0;
  text-overflow: wrap;
  outline: 0;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.multipleSelectorContainer {
  width: 30rem;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.75rem;
}

.multipleSelectorContainer label {
  color: var(--text);
  margin-bottom: 0.25rem;
}

.multipleSelectorContainer > div {
  width: 100%;
}
