.container {
  height: 100%;
  max-width: 700px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  color: var(--white);
}

.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

.container nav h1 {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 30px;
  color: #fff;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: var(--search);
  border-radius: 15px;
}

.item-list {
  position: absolute;
  top: 10rem;
  bottom: 50%;
}

.list-item {
  background: var(--search);
  border-radius: 15px;
  width: 24rem;
  display: flex;
  transition: all .5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item:hover {
  cursor: pointer;
  background: var(--secondary);
}

.list-item + .list-item {
  margin-top: 1rem;
}

.list-item span {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  margin-right: 20px;
  /* margin-left: 2rem; */
}

.icon {
  height: 40px;
  width: 40px;
  margin: 1rem;
}
