.container {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  color: #fff;
}

.commands-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
  max-width: 800px;
}

.commands-container div {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--search);
  border-radius: 15px;
}

.commands-container div + div {
  margin-top: 2rem;
}

.commands-container div h1 {

}
