@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --background: #2f3336;
  --primary: #000;
  --secondary: #15181c;
  --search: #202327;
  --white: #d9d9d9;
  --grey: #7a7a7a;
  --gray: #8a8c90;
  --chat-input: rgb(64, 68, 75);
  --blurple: #7289da;
  color: var(--white);
}

html,
body,
#root {
  max-height: 100vh;
}

*,
button,
input {
  border: 0;
  background: none;
  font-family: 'Noto Sans KR', Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
}

html {
  background: var(--background);
}
