.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'icon name .';
  justify-items: center;
  align-items: center;
  margin: 3rem 0;
}

.icon-container {
  grid-area: icon;
  width: 100px;
  height: 100px;
  background: var(--search);
  border-radius: 15px;
}

.icon-container img {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-top: 5%;
}

.title {
  grid-area: name;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

.loading-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.loading-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
