.autoRoleSelectorContainer {
  width: 30rem;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.75rem;
}

.autoRoleSelectorContainer label {
  color: var(--text);
  margin-bottom: 0.25rem;
}

.autoRoleSelectorContainer > div {
  width: 100%;
}

/*
.autoRoleSelectorContainer input:not(input[type='checkbox']) {
  background: var(--lighter-background);
  color: var(--white);
  border-radius: 10px;
  height: 2.5rem;
  border: 0;
  outline: 0;
}
.autoRoleSelectorContainer div {
  background: var(--lighter-background);
  width: 100%;
  outline: 0;
  border: 0;
}

.autoRoleSelectorContainer input:not(input[type='checkbox']):hover {
  outline: 0;
  border: 0;
} */

.autoRoleTimeoutContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75rem;
}

.autoRoleTimeoutContainer label {
  color: var(--text);
  margin-bottom: 0.25rem;
}

.autoRoleTimeoutContainer div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.autoRoleTimeoutContainer div input {
  background: var(--lighter-background);
  color: var(--white);
  border-radius: 10px;
  height: 2.5rem;
  border: 0;
  outline: 0;
  padding: 0.5rem;
  margin-right: 0.75rem;
}
