.container {
  width: 100%;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  width: 8rem;
  height: 8rem;
}

.container a img {
  width: 6rem;
  height: 6rem;
  border-radius: 15px;
}

.container a span {
  margin: 0 auto;
  text-align: center;
}
