NEXT_PUBLIC_ENVIRONMENT="dev"

# The API URL for the Lurkr API
NEXT_PUBLIC_API_URL="https://api.lurkr.gg/v2"
# The Discord client ID used for OAuth2 authentication
NEXT_PUBLIC_DISCORD_CLIENT_ID=""
# The public URL of the website.
NEXT_PUBLIC_URL="http://localhost:3000"

# Cookie domain for cross-subdomain auth (e.g. ".lurkr.gg"). Leave empty for localhost.
NEXT_PUBLIC_COOKIE_DOMAIN=""

# Secret key for getting leaderboard metadata for page metadata
LEVELS_METADATA_KEY=""

# Domain for the backgrounds bucket, used for fetching background images
BACKGROUNDS_BUCKET_DOMAIN=""

# Google site verification token, used for verifying the site with Google Search Console
GOOGLE_SITE_VERIFICATION=""
