name: Build and Lint

on:
  - push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node:
          - 14

    steps:
      - uses: actions/checkout@v2

      - name: Install Node ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          cache: 'yarn'
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: yarn --immutable

      - name: Build bot website
        run: yarn bot build

      - name: Build main website
        run: yarn main build

  lint:
    name: Lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node:
          - 14

    steps:
      - uses: actions/checkout@v2

      - name: Install Node ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          cache: 'yarn'
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: yarn --immutable

      - name: Run ESLint
        run: yarn lint

      - name: Run Prettier
        run: yarn prettier:check
