name: Dedupe Dependabot PRs

on:
  push:
    branches: ["dependabot/**"]

permissions:
  contents: write
  pull-requests: write
  repository-projects: write

jobs:
  dedupe:
    name: Dedupe Dependabot PRs
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version-file: .nvmrc

      - run: pnpm dedupe

      - name: Commit lockfile
        run: |
          git config user.name "dependabot[bot]"
          git config user.email "49699333+dependabot[bot]@users.noreply.github.com"
          git add .
          git commit -m '[dependabot skip] dedupe pnpm-lock.yaml' || true
          git push || true
        env:
          HUSKY: 0
