name: Label sync

on:
  schedule:
    - cron: "0 0 * * SUN"
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/labels.yml"

jobs:
  label-sync:
    name: Label sync
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Label sync
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
